#app {
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

textarea {
    height: 95%;
    width: 45vw;
}

#button {
    height: 100%;
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}